In [7]:
import pandas as pd
FNAME = "http://www.stat.ucla.edu/projects/datasets/twins.dat"

df = pd.read_csv(FNAME, sep = ',')

In [8]:
print(df)

         DLHRWAGE  DEDUC1        AGE        AGESQ      HRWAGEH  WHITEH  MALEH  \
0       0.2593466       0  33.251198  1105.642156        11.25       1      0
1               .      -1  54.053388  2921.768764            .       1      0
2     0.721318058       7  43.570157  1898.358618           18       1      0
3     0.011581964       0  30.967830   959.006511         16.5       1      1
4    -0.560984677       0  34.633812  1199.500965       9.6154       1      1
5               .       2  71.603012  5126.991275            .       1      0
6     1.523260216      -2  34.978782  1223.515166           35       1      0
7               .      -1  61.451061  3776.232888           35       1      0
8    -0.223143551      -2  29.338809   860.765716           12       1      1
9    -0.470003629       0  47.605749  2266.307384         6.25       1      0
10    0.051751065      -1  51.901437  2693.759201        17.25       1      1
11    0.287682073       0  36.076660  1301.525384           16       1      1
12              .       4  32.082136  1029.263420            .       1      0
13   -0.470003629      -2  48.120465  2315.579194       15.625       1      0
14    0.305601229       2  33.954825  1152.930172         9.76       1      0
15              .       4  36.041068  1298.958565            .       1      0
16   -0.336472237       0  27.175907   738.529917  1.785714286       1      0
17              .       1  24.544832   602.448793         5.25       1      1
18    0.628608659       2  39.340178  1547.649602           15       1      1
19    0.321583624       1  38.532512  1484.754479           15       1      1
20              .       0  24.657084   607.971801          8.7       1      0
21   -0.378653851       1  23.682409   560.856511  11.41304348       1      0
22   -0.078555719       3  35.663244  1271.866998        13.46       1      0
23     -0.3254224       0  21.349760   455.812271          6.5       0      1
24              .       1  28.900753   835.253519  8.583333333       1      1
25              .       0  30.006845   900.410724           13       1      1
26   -0.494696242       0  33.639973  1131.647758           10       1      0
27    0.497032302       2  24.640657   607.161982           12       1      0
28    0.167054085       0  46.365503  2149.759876         7.15       1      0
29   -1.446918983      -5  43.854894  1923.251720            8       1      1
..            ...     ...        ...          ...          ...     ...    ...
153   0.049122045       0  25.941136   672.942548  16.42857143       1      0
154   0.619039208      -7  31.208761   973.986771           13       0      0
155   0.287682073       2  26.926762   725.050538  13.33333333       1      1
156    1.32175584       1  25.541410   652.363624         6.25       1      0
157             .       0  52.550308  2761.534872            .       1      0
158             0       0  40.873374  1670.632735           20       0      1
159             .       1  33.251198  1105.642156          9.6       1      0
160  -0.057158414       0  48.249144  2327.979937         4.25       1      0
161  -0.732367894      -1  37.281314  1389.896386            5       1      0
162             .      -1  70.600958  4984.495306            .       1      1
163  -0.322773392       0  29.054073   844.139132         10.5       1      1
164  -0.894651557      -4  30.225873   913.603380         5.45       1      0
165             .       1  52.985626  2807.476593  14.28571429       1      1
166  -0.615957542      -1  37.374401  1396.845857  9.722222222       1      1
167   0.287682073      -1  21.927447   480.812930  6.666666667       1      0
168   0.343771539       0  23.969884   574.555322  10.57692308       1      0
169   0.284451052       0  36.372348  1322.947678         10.3       1      1
170             .       0  22.299795   497.280842            .       1      0
171   0.022927505       0  36.944559  1364.900404           15       1      0
172   0.518260602       4  43.200548  1866.287310        11.25       1      0
173             0       0  18.781656   352.750617         4.25       1      0
174   0.310154928       2  36.621492  1341.133686  13.63636364       1      0
175   0.372250629       2  45.612594  2080.508742  22.32285714       1      0
176   0.093011748       0  29.390828   863.820782          4.5       1      0
177  -0.087016892      -1  38.770705  1503.167566      21.1538       1      0
178   0.109904862       0  45.555099  2075.267067     20.60625       1      0
179             .       0  26.376454   695.717351            .       1      1
180   0.850332764       2  40.312115  1625.066615          5.5       1      0
181  -0.729514825      -2  28.413415   807.322179          7.5       1      0
182  -0.500775288       0  28.413415   807.322179            9       1      0

     EDUCH      HRWAGEL  WHITEL  MALEL  EDUCL  DEDUC2    DTEN  DMARRIED  \
0       16         8.68       1      0     16       0   1.333         0
1        9         7.85       1      0     10       1       8         1
2       19         8.75       1      0     12       4       3        -1
3       12        16.31       1      1     12       0      -2         0
4       14        16.85       1      1     14       1   2.917         0
5       16            .       1      0     14      -2      24         1
6       13         7.63       1      0     15      -2       3         1
7       13            .       1      0     14      -2    25.5         0
8       12           15       1      1     14       1       1        -1
9       12           10       1      0     12       0      -5         0
10      12        16.38       1      1     13      -2       9         0
11      12           12       1      1     12       0       5         0
12      16        31.25       1      0     12       4    -9.5         0
13      17           25       1      0     19      -3      -7         0
14      14         7.19       1      0     12       2       .         0
15      18            .       1      0     14       4       .        -1
16      16          2.5       1      0     16       0   0.417         0
17      13            .       1      1     12       0       .         1
18      14            8       1      1     12      -2      15         1
19      13       10.875       1      1     12      -1       0         0
20      12            .       1      0     12       0      -2         0
21      17  16.66666667       1      0     16       1    -0.5         0
22      15        14.56       1      0     12       2       4         0
23      14            9       0      1     14       0  -0.083         0
24      15            .       1      1     14      -1       0         0
25      12            .       1      1     12       0       0         0
26      12         16.4       1      0     12       0    -6.5        -1
27      16          7.3       1      0     14      -2      -1         0
28      12         6.05       1      0     12       0       1         0
29      15           34       1      1     20      -6      -2         0
..     ...          ...     ...    ...    ...     ...     ...       ...
153     12  15.64106667       1      0     12       0       0         0
154      8            7       1      0     15       7      -7         0
155     16           10       1      1     14       2    -2.5        -1
156     13  1.666666667       1      0     12       1       0         0
157     12  5.952380953       1      0     12       0       0         0
158     12           20       0      1     12       0     4.5        -1
159     13            .       1      0     12       0      -2         0
160     12          4.5       1      0     12       0  -2.993         0
161     12         10.4       1      0     13      -1    -7.5        -1
162     12  6.868095238       1      1     13       0      13         0
163     13         14.5       1      1     13       0    -3.5         0
164     12  13.33333333       1      0     16      -4     2.5        -1
165     13            .       1      1     12       0       3         0
166     12           18       1      1     13       0      -6         0
167     12            5       1      0     13       0    1.75         0
168     16          7.5       1      0     16       0   0.038         0
169     18         7.75       1      1     18       0       2         0
170     12           20       1      0     12       0       0         0
171     16        14.66       1      0     16       0     1.5         1
172     14          6.7       1      0     10       3   14.67         1
173     13         4.25       1      0     13       0  -0.083         0
174     14           10       1      0     12       2       1         0
175     14      15.3845       1      0     12       2      -4         1
176     12  4.100322581       1      0     12       0     3.5         1
177     13       23.077       1      0     14      -1       2         1
178     12  18.46153846       1      0     12       0      -7        -1
179     16        19.65       1      1     16       0    -0.5         0
180     14         2.35       1      0     12       2       2         0
181     14  15.55555556       1      0     16      -2      -2         0
182     16        14.85       1      0     16      -2       3         0

     DUNCOV
0         0
1         0
2         0
3         1
4        -1
5         0
6         0
7         0
8         0
9         0
10        0
11        0
12        0
13        0
14       -1
15        0
16        0
17        0
18        1
19        0
20        1
21        1
22       -1
23        0
24        0
25        0
26       -1
27       -1
28        0
29        0
..      ...
153       0
154      -1
155       0
156       0
157       0
158       0
159       0
160       0
161       0
162      -1
163       0
164       1
165       0
166      -1
167       0
168       0
169       0
170       0
171       0
172       0
173       0
174       0
175       0
176       0
177       0
178       0
179       0
180       0
181       0
182       0

[183 rows x 16 columns]

In [10]:
df.shape #Dimension

(183, 16)

In [12]:
df.head() #First 5 lines

,DLHRWAGE,DEDUC1,AGE,AGESQ,HRWAGEH,WHITEH,MALEH,EDUCH,HRWAGEL,WHITEL,MALEL,EDUCL,DEDUC2,DTEN,DMARRIED,DUNCOV
0,0.2593466,0,33.251198,1105.642156,11.25,1,0,16,8.68,1,0,16,0,1.333,0,0
1,.,-1,54.053388,2921.768764,.,1,0,9,7.85,1,0,10,1,8,1,0
2,0.721318058,7,43.570157,1898.358618,18,1,0,19,8.75,1,0,12,4,3,-1,0
3,0.011581964,0,30.967830,959.006511,16.5,1,1,12,16.31,1,1,12,0,-2,0,1
4,-0.560984677,0,34.633812,1199.500965,9.6154,1,1,14,16.85,1,1,14,1,2.917,0,-1

In [14]:
df.tail() #Last 5 lines

,DLHRWAGE,DEDUC1,AGE,AGESQ,HRWAGEH,WHITEH,MALEH,EDUCH,HRWAGEL,WHITEL,MALEL,EDUCL,DEDUC2,DTEN,DMARRIED,DUNCOV
178,0.109904862,0,45.555099,2075.267067,20.60625,1,0,12,18.46153846,1,0,12,0,-7,-1,0
179,.,0,26.376454,695.717351,.,1,1,16,19.65,1,1,16,0,-0.5,0,0
180,0.850332764,2,40.312115,1625.066615,5.5,1,0,14,2.35,1,0,12,2,2,0,0
181,-0.729514825,-2,28.413415,807.322179,7.5,1,0,14,15.55555556,1,0,16,-2,-2,0,0
182,-0.500775288,0,28.413415,807.322179,9,1,0,16,14.85,1,0,16,-2,3,0,0

In [15]:
df.columns #List of variables as a list

Index(['DLHRWAGE', 'DEDUC1', 'AGE', 'AGESQ', 'HRWAGEH', 'WHITEH', 'MALEH',
       'EDUCH', 'HRWAGEL', 'WHITEL', 'MALEL', 'EDUCL', 'DEDUC2', 'DTEN',
       'DMARRIED', 'DUNCOV'],
      dtype='object')

In [18]:
df.describe() #Describes the Data

,DEDUC1,AGE,AGESQ,WHITEH,MALEH,EDUCH,WHITEL,MALEL,EDUCL,DEDUC2,DMARRIED,DUNCOV
count,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000
mean,-0.010929,38.694015,1666.242009,0.934426,0.459016,13.950820,0.939891,0.459016,13.961749,-0.021858,-0.016393,0.021858
std,1.881048,13.036251,1181.710178,0.248215,0.499685,2.332943,0.238341,0.499685,2.204805,1.886785,0.507909,0.491200
min,-7.000000,18.781656,352.750617,0.000000,0.000000,8.000000,0.000000,0.000000,8.000000,-6.000000,-1.000000,-1.000000
25%,-1.000000,28.977413,839.696325,1.000000,0.000000,12.000000,1.000000,0.000000,12.000000,-1.000000,0.000000,0.000000
50%,0.000000,36.041068,1298.958565,1.000000,0.000000,13.000000,1.000000,0.000000,14.000000,0.000000,0.000000,0.000000
75%,0.000000,44.777550,2005.034018,1.000000,1.000000,16.000000,1.000000,1.000000,16.000000,0.000000,0.000000,0.000000
max,7.000000,79.123888,6260.589612,1.000000,1.000000,20.000000,1.000000,1.000000,20.000000,7.000000,1.000000,1.000000

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 0 to 182
Data columns (total 16 columns):
DLHRWAGE    183 non-null object
DEDUC1      183 non-null int64
AGE         183 non-null float64
AGESQ       183 non-null float64
HRWAGEH     183 non-null object
WHITEH      183 non-null int64
MALEH       183 non-null int64
EDUCH       183 non-null int64
HRWAGEL     183 non-null object
WHITEL      183 non-null int64
MALEL       183 non-null int64
EDUCL       183 non-null int64
DEDUC2      183 non-null int64
DTEN        183 non-null object
DMARRIED    183 non-null int64
DUNCOV      183 non-null int64
dtypes: float64(2), int64(10), object(4)
memory usage: 23.0+ KB

In [21]:
df["DEDUC1"] #Column by column name

0      0
1     -1
2      7
3      0
4      0
5      2
6     -2
7     -1
8     -2
9      0
10    -1
11     0
12     4
13    -2
14     2
15     4
16     0
17     1
18     2
19     1
20     0
21     1
22     3
23     0
24     1
25     0
26     0
27     2
28     0
29    -5
      ..
153    0
154   -7
155    2
156    1
157    0
158    0
159    1
160    0
161   -1
162   -1
163    0
164   -4
165    1
166   -1
167   -1
168    0
169    0
170    0
171    0
172    4
173    0
174    2
175    2
176    0
177   -1
178    0
179    0
180    2
181   -2
182    0
Name: DEDUC1, Length: 183, dtype: int64

In [22]:
df.loc[0] # Row by index name

DLHRWAGE    0.2593466
DEDUC1              0
AGE           33.2512
AGESQ         1105.64
HRWAGEH         11.25
WHITEH              1
MALEH               0
EDUCH              16
HRWAGEL          8.68
WHITEL              1
MALEL               0
EDUCL              16
DEDUC2              0
DTEN            1.333
DMARRIED            0
DUNCOV              0
Name: 0, dtype: object

In [23]:
df.iloc[0] # Row by row number

DLHRWAGE    0.2593466
DEDUC1              0
AGE           33.2512
AGESQ         1105.64
HRWAGEH         11.25
WHITEH              1
MALEH               0
EDUCH              16
HRWAGEL          8.68
WHITEL              1
MALEL               0
EDUCL              16
DEDUC2              0
DTEN            1.333
DMARRIED            0
DUNCOV              0
Name: 0, dtype: object

In [24]:
df[["AGE", "HRWAGEH"]] # Columns by list of names

           AGE      HRWAGEH
0    33.251198        11.25
1    54.053388            .
2    43.570157           18
3    30.967830         16.5
4    34.633812       9.6154
5    71.603012            .
6    34.978782           35
7    61.451061           35
8    29.338809           12
9    47.605749         6.25
10   51.901437        17.25
11   36.076660           16
12   32.082136            .
13   48.120465       15.625
14   33.954825         9.76
15   36.041068            .
16   27.175907  1.785714286
17   24.544832         5.25
18   39.340178           15
19   38.532512           15
20   24.657084          8.7
21   23.682409  11.41304348
22   35.663244        13.46
23   21.349760          6.5
24   28.900753  8.583333333
25   30.006845           13
26   33.639973           10
27   24.640657           12
28   46.365503         7.15
29   43.854894            8
..         ...          ...
153  25.941136  16.42857143
154  31.208761           13
155  26.926762  13.33333333
156  25.541410         6.25
157  52.550308            .
158  40.873374           20
159  33.251198          9.6
160  48.249144         4.25
161  37.281314            5
162  70.600958            .
163  29.054073         10.5
164  30.225873         5.45
165  52.985626  14.28571429
166  37.374401  9.722222222
167  21.927447  6.666666667
168  23.969884  10.57692308
169  36.372348         10.3
170  22.299795            .
171  36.944559           15
172  43.200548        11.25
173  18.781656         4.25
174  36.621492  13.63636364
175  45.612594  22.32285714
176  29.390828          4.5
177  38.770705      21.1538
178  45.555099     20.60625
179  26.376454            .
180  40.312115          5.5
181  28.413415          7.5
182  28.413415            9

[183 rows x 2 columns]

In [25]:
df.loc["AGE":"HRWAGEH"]

Empty DataFrame
Columns: [DLHRWAGE, DEDUC1, AGE, AGESQ, HRWAGEH, WHITEH, MALEH, EDUCH, HRWAGEL, WHITEL, MALEL, EDUCL, DEDUC2, DTEN, DMARRIED, DUNCOV]
Index: []

In [26]:
df.iloc[5,6]

0

In [27]:
df.iloc[5,4]

'.'

In [28]:
df.loc[4,"DTEN"]

'2.917'

In [29]:
df.loc[182,"HRWAGEL"]

'14.85'

In [30]:
df.loc[-1,"DTEN"]

KeyError: -1

In [31]:
df.iloc[4,"DTEN"]

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [32]:
df.iloc[-1,"DTEN"]

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [33]:
df[df["AGE"]>20]

,DLHRWAGE,DEDUC1,AGE,AGESQ,HRWAGEH,WHITEH,MALEH,EDUCH,HRWAGEL,WHITEL,MALEL,EDUCL,DEDUC2,DTEN,DMARRIED,DUNCOV
0,0.2593466,0,33.251198,1105.642156,11.25,1,0,16,8.68,1,0,16,0,1.333,0,0
1,.,-1,54.053388,2921.768764,.,1,0,9,7.85,1,0,10,1,8,1,0
2,0.721318058,7,43.570157,1898.358618,18,1,0,19,8.75,1,0,12,4,3,-1,0
3,0.011581964,0,30.967830,959.006511,16.5,1,1,12,16.31,1,1,12,0,-2,0,1
4,-0.560984677,0,34.633812,1199.500965,9.6154,1,1,14,16.85,1,1,14,1,2.917,0,-1
5,.,2,71.603012,5126.991275,.,1,0,16,.,1,0,14,-2,24,1,0
6,1.523260216,-2,34.978782,1223.515166,35,1,0,13,7.63,1,0,15,-2,3,1,0
7,.,-1,61.451061,3776.232888,35,1,0,13,.,1,0,14,-2,25.5,0,0
8,-0.223143551,-2,29.338809,860.765716,12,1,1,12,15,1,1,14,1,1,-1,0
9,-0.470003629,0,47.605749,2266.307384,6.25,1,0,12,10,1,0,12,0,-5,0,0
10,0.051751065,-1,51.901437,2693.759201,17.25,1,1,12,16.38,1,1,13,-2,9,0,0
11,0.287682073,0,36.076660,1301.525384,16,1,1,12,12,1,1,12,0,5,0,0
12,.,4,32.082136,1029.263420,.,1,0,16,31.25,1,0,12,4,-9.5,0,0
13,-0.470003629,-2,48.120465,2315.579194,15.625,1,0,17,25,1,0,19,-3,-7,0,0
14,0.305601229,2,33.954825,1152.930172,9.76,1,0,14,7.19,1,0,12,2,.,0,-1
15,.,4,36.041068,1298.958565,.,1,0,18,.,1,0,14,4,.,-1,0
16,-0.336472237,0,27.175907,738.529917,1.785714286,1,0,16,2.5,1,0,16,0,0.417,0,0
17,.,1,24.544832,602.448793,5.25,1,1,13,.,1,1,12,0,.,1,0
18,0.628608659,2,39.340178,1547.649602,15,1,1,14,8,1,1,12,-2,15,1,1
19,0.321583624,1,38.532512,1484.754479,15,1,1,13,10.875,1,1,12,-1,0,0,0
20,.,0,24.657084,607.971801,8.7,1,0,12,.,1,0,12,0,-2,0,1
21,-0.378653851,1,23.682409,560.856511,11.41304348,1,0,17,16.66666667,1,0,16,1,-0.5,0,1
22,-0.078555719,3,35.663244,1271.866998,13.46,1,0,15,14.56,1,0,12,2,4,0,-1
23,-0.3254224,0,21.349760,455.812271,6.5,0,1,14,9,0,1,14,0,-0.083,0,0
24,.,1,28.900753,835.253519,8.583333333,1,1,15,.,1,1,14,-1,0,0,0
25,.,0,30.006845,900.410724,13,1,1,12,.,1,1,12,0,0,0,0
26,-0.494696242,0,33.639973,1131.647758,10,1,0,12,16.4,1,0,12,0,-6.5,-1,-1
27,0.497032302,2,24.640657,607.161982,12,1,0,16,7.3,1,0,14,-2,-1,0,-1
28,0.167054085,0,46.365503,2149.759876,7.15,1,0,12,6.05,1,0,12,0,1,0,0
29,-1.446918983,-5,43.854894,1923.251720,8,1,1,15,34,1,1,20,-6,-2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,0.519875459,0,50.050650,2505.067589,11.5625,1,0,12,6.875,1,0,12,0,2.5,0,-1
153,0.049122045,0,25.941136,672.942548,16.42857143,1,0,12,15.64106667,1,0,12,0,0,0,0
154,0.619039208,-7,31.208761,973.986771,13,0,0,8,7,1,0,15,7,-7,0,-1
155,0.287682073,2,26.926762,725.050538,13.33333333,1,1,16,10,1,1,14,2,-2.5,-1,0
156,1.32175584,1,25.541410,652.363624,6.25,1,0,13,1.666666667,1,0,12,1,0,0,0
157,.,0,52.550308,2761.534872,.,1,0,12,5.952380953,1,0,12,0,0,0,0
158,0,0,40.873374,1670.632735,20,0,1,12,20,0,1,12,0,4.5,-1,0
159,.,1,33.251198,1105.642156,9.6,1,0,13,.,1,0,12,0,-2,0,0
160,-0.057158414,0,48.249144,2327.979937,4.25,1,0,12,4.5,1,0,12,0,-2.993,0,0
161,-0.732367894,-1,37.281314,1389.896386,5,1,0,12,10.4,1,0,13,-1,-7.5,-1,0
162,.,-1,70.600958,4984.495306,.,1,1,12,6.868095238,1,1,13,0,13,0,-1
163,-0.322773392,0,29.054073,844.139132,10.5,1,1,13,14.5,1,1,13,0,-3.5,0,0
164,-0.894651557,-4,30.225873,913.603380,5.45,1,0,12,13.33333333,1,0,16,-4,2.5,-1,1
165,.,1,52.985626,2807.476593,14.28571429,1,1,13,.,1,1,12,0,3,0,0
166,-0.615957542,-1,37.374401,1396.845857,9.722222222,1,1,12,18,1,1,13,0,-6,0,-1
167,0.287682073,-1,21.927447,480.812930,6.666666667,1,0,12,5,1,0,13,0,1.75,0,0
168,0.343771539,0,23.969884,574.555322,10.57692308,1,0,16,7.5,1,0,16,0,0.038,0,0
169,0.284451052,0,36.372348,1322.947678,10.3,1,1,18,7.75,1,1,18,0,2,0,0
170,.,0,22.299795,497.280842,.,1,0,12,20,1,0,12,0,0,0,0
171,0.022927505,0,36.944559,1364.900404,15,1,0,16,14.66,1,0,16,0,1.5,1,0
172,0.518260602,4,43.200548,1866.287310,11.25,1,0,14,6.7,1,0,10,3,14.67,1,0
174,0.310154928,2,36.621492,1341.133686,13.63636364,1,0,14,10,1,0,12,2,1,0,0
175,0.372250629,2,45.612594,2080.508742,22.32285714,1,0,14,15.3845,1,0,12,2,-4,1,0
176,0.093011748,0,29.390828,863.820782,4.5,1,0,12,4.100322581,1,0,12,0,3.5,1,0
177,-0.087016892,-1,38.770705,1503.167566,21.1538,1,0,13,23.077,1,0,14,-1,2,1,0
178,0.109904862,0,45.555099,2075.267067,20.60625,1,0,12,18.46153846,1,0,12,0,-7,-1,0
179,.,0,26.376454,695.717351,.,1,1,16,19.65,1,1,16,0,-0.5,0,0
180,0.850332764,2,40.312115,1625.066615,5.5,1,0,14,2.35,1,0,12,2,2,0,0
181,-0.729514825,-2,28.413415,807.322179,7.5,1,0,14,15.55555556,1,0,16,-2,-2,0,0
182,-0.500775288,0,28.413415,807.322179,9,1,0,16,14.85,1,0,16,-2,3,0,0

In [34]:
df[(df["AGE"]>20) & (df["WHITEL"] == 1)]

,DLHRWAGE,DEDUC1,AGE,AGESQ,HRWAGEH,WHITEH,MALEH,EDUCH,HRWAGEL,WHITEL,MALEL,EDUCL,DEDUC2,DTEN,DMARRIED,DUNCOV
0,0.2593466,0,33.251198,1105.642156,11.25,1,0,16,8.68,1,0,16,0,1.333,0,0
1,.,-1,54.053388,2921.768764,.,1,0,9,7.85,1,0,10,1,8,1,0
2,0.721318058,7,43.570157,1898.358618,18,1,0,19,8.75,1,0,12,4,3,-1,0
3,0.011581964,0,30.967830,959.006511,16.5,1,1,12,16.31,1,1,12,0,-2,0,1
4,-0.560984677,0,34.633812,1199.500965,9.6154,1,1,14,16.85,1,1,14,1,2.917,0,-1
5,.,2,71.603012,5126.991275,.,1,0,16,.,1,0,14,-2,24,1,0
6,1.523260216,-2,34.978782,1223.515166,35,1,0,13,7.63,1,0,15,-2,3,1,0
7,.,-1,61.451061,3776.232888,35,1,0,13,.,1,0,14,-2,25.5,0,0
8,-0.223143551,-2,29.338809,860.765716,12,1,1,12,15,1,1,14,1,1,-1,0
9,-0.470003629,0,47.605749,2266.307384,6.25,1,0,12,10,1,0,12,0,-5,0,0
10,0.051751065,-1,51.901437,2693.759201,17.25,1,1,12,16.38,1,1,13,-2,9,0,0
11,0.287682073,0,36.076660,1301.525384,16,1,1,12,12,1,1,12,0,5,0,0
12,.,4,32.082136,1029.263420,.,1,0,16,31.25,1,0,12,4,-9.5,0,0
13,-0.470003629,-2,48.120465,2315.579194,15.625,1,0,17,25,1,0,19,-3,-7,0,0
14,0.305601229,2,33.954825,1152.930172,9.76,1,0,14,7.19,1,0,12,2,.,0,-1
15,.,4,36.041068,1298.958565,.,1,0,18,.,1,0,14,4,.,-1,0
16,-0.336472237,0,27.175907,738.529917,1.785714286,1,0,16,2.5,1,0,16,0,0.417,0,0
17,.,1,24.544832,602.448793,5.25,1,1,13,.,1,1,12,0,.,1,0
18,0.628608659,2,39.340178,1547.649602,15,1,1,14,8,1,1,12,-2,15,1,1
19,0.321583624,1,38.532512,1484.754479,15,1,1,13,10.875,1,1,12,-1,0,0,0
20,.,0,24.657084,607.971801,8.7,1,0,12,.,1,0,12,0,-2,0,1
21,-0.378653851,1,23.682409,560.856511,11.41304348,1,0,17,16.66666667,1,0,16,1,-0.5,0,1
22,-0.078555719,3,35.663244,1271.866998,13.46,1,0,15,14.56,1,0,12,2,4,0,-1
24,.,1,28.900753,835.253519,8.583333333,1,1,15,.,1,1,14,-1,0,0,0
25,.,0,30.006845,900.410724,13,1,1,12,.,1,1,12,0,0,0,0
26,-0.494696242,0,33.639973,1131.647758,10,1,0,12,16.4,1,0,12,0,-6.5,-1,-1
27,0.497032302,2,24.640657,607.161982,12,1,0,16,7.3,1,0,14,-2,-1,0,-1
28,0.167054085,0,46.365503,2149.759876,7.15,1,0,12,6.05,1,0,12,0,1,0,0
29,-1.446918983,-5,43.854894,1923.251720,8,1,1,15,34,1,1,20,-6,-2,0,0
31,1.504077397,0,24.117728,581.664784,22.5,1,1,16,5,1,1,16,0,1.5,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,0.133531393,0,28.153320,792.609407,10,1,0,15,8.75,1,0,15,1,1,-1,0
152,0.519875459,0,50.050650,2505.067589,11.5625,1,0,12,6.875,1,0,12,0,2.5,0,-1
153,0.049122045,0,25.941136,672.942548,16.42857143,1,0,12,15.64106667,1,0,12,0,0,0,0
154,0.619039208,-7,31.208761,973.986771,13,0,0,8,7,1,0,15,7,-7,0,-1
155,0.287682073,2,26.926762,725.050538,13.33333333,1,1,16,10,1,1,14,2,-2.5,-1,0
156,1.32175584,1,25.541410,652.363624,6.25,1,0,13,1.666666667,1,0,12,1,0,0,0
157,.,0,52.550308,2761.534872,.,1,0,12,5.952380953,1,0,12,0,0,0,0
159,.,1,33.251198,1105.642156,9.6,1,0,13,.,1,0,12,0,-2,0,0
160,-0.057158414,0,48.249144,2327.979937,4.25,1,0,12,4.5,1,0,12,0,-2.993,0,0
161,-0.732367894,-1,37.281314,1389.896386,5,1,0,12,10.4,1,0,13,-1,-7.5,-1,0
162,.,-1,70.600958,4984.495306,.,1,1,12,6.868095238,1,1,13,0,13,0,-1
163,-0.322773392,0,29.054073,844.139132,10.5,1,1,13,14.5,1,1,13,0,-3.5,0,0
164,-0.894651557,-4,30.225873,913.603380,5.45,1,0,12,13.33333333,1,0,16,-4,2.5,-1,1
165,.,1,52.985626,2807.476593,14.28571429,1,1,13,.,1,1,12,0,3,0,0
166,-0.615957542,-1,37.374401,1396.845857,9.722222222,1,1,12,18,1,1,13,0,-6,0,-1
167,0.287682073,-1,21.927447,480.812930,6.666666667,1,0,12,5,1,0,13,0,1.75,0,0
168,0.343771539,0,23.969884,574.555322,10.57692308,1,0,16,7.5,1,0,16,0,0.038,0,0
169,0.284451052,0,36.372348,1322.947678,10.3,1,1,18,7.75,1,1,18,0,2,0,0
170,.,0,22.299795,497.280842,.,1,0,12,20,1,0,12,0,0,0,0
171,0.022927505,0,36.944559,1364.900404,15,1,0,16,14.66,1,0,16,0,1.5,1,0
172,0.518260602,4,43.200548,1866.287310,11.25,1,0,14,6.7,1,0,10,3,14.67,1,0
174,0.310154928,2,36.621492,1341.133686,13.63636364,1,0,14,10,1,0,12,2,1,0,0
175,0.372250629,2,45.612594,2080.508742,22.32285714,1,0,14,15.3845,1,0,12,2,-4,1,0
176,0.093011748,0,29.390828,863.820782,4.5,1,0,12,4.100322581,1,0,12,0,3.5,1,0
177,-0.087016892,-1,38.770705,1503.167566,21.1538,1,0,13,23.077,1,0,14,-1,2,1,0
178,0.109904862,0,45.555099,2075.267067,20.60625,1,0,12,18.46153846,1,0,12,0,-7,-1,0
179,.,0,26.376454,695.717351,.,1,1,16,19.65,1,1,16,0,-0.5,0,0
180,0.850332764,2,40.312115,1625.066615,5.5,1,0,14,2.35,1,0,12,2,2,0,0
181,-0.729514825,-2,28.413415,807.322179,7.5,1,0,14,15.55555556,1,0,16,-2,-2,0,0
182,-0.500775288,0,28.413415,807.322179,9,1,0,16,14.85,1,0,16,-2,3,0,0

In [36]:
df[~(df["AGE"]>20)]

,DLHRWAGE,DEDUC1,AGE,AGESQ,HRWAGEH,WHITEH,MALEH,EDUCH,HRWAGEL,WHITEL,MALEL,EDUCL,DEDUC2,DTEN,DMARRIED,DUNCOV
57,0,0,19.898700,395.958243,6,1,1,13,6,1,1,13,0,-0.084,0,0
82,2.109746891,0,19.222450,369.502598,61.53846154,1,1,12,7.462686567,1,1,12,0,3.25,0,0
173,0,0,18.781656,352.750617,4.25,1,0,13,4.25,1,0,13,0,-0.083,0,0

In [39]:
df[df["WHITEL"] == 1]

,DLHRWAGE,DEDUC1,AGE,AGESQ,HRWAGEH,WHITEH,MALEH,EDUCH,HRWAGEL,WHITEL,MALEL,EDUCL,DEDUC2,DTEN,DMARRIED,DUNCOV
0,0.2593466,0,33.251198,1105.642156,11.25,1,0,16,8.68,1,0,16,0,1.333,0,0
1,.,-1,54.053388,2921.768764,.,1,0,9,7.85,1,0,10,1,8,1,0
2,0.721318058,7,43.570157,1898.358618,18,1,0,19,8.75,1,0,12,4,3,-1,0
3,0.011581964,0,30.967830,959.006511,16.5,1,1,12,16.31,1,1,12,0,-2,0,1
4,-0.560984677,0,34.633812,1199.500965,9.6154,1,1,14,16.85,1,1,14,1,2.917,0,-1
5,.,2,71.603012,5126.991275,.,1,0,16,.,1,0,14,-2,24,1,0
6,1.523260216,-2,34.978782,1223.515166,35,1,0,13,7.63,1,0,15,-2,3,1,0
7,.,-1,61.451061,3776.232888,35,1,0,13,.,1,0,14,-2,25.5,0,0
8,-0.223143551,-2,29.338809,860.765716,12,1,1,12,15,1,1,14,1,1,-1,0
9,-0.470003629,0,47.605749,2266.307384,6.25,1,0,12,10,1,0,12,0,-5,0,0
10,0.051751065,-1,51.901437,2693.759201,17.25,1,1,12,16.38,1,1,13,-2,9,0,0
11,0.287682073,0,36.076660,1301.525384,16,1,1,12,12,1,1,12,0,5,0,0
12,.,4,32.082136,1029.263420,.,1,0,16,31.25,1,0,12,4,-9.5,0,0
13,-0.470003629,-2,48.120465,2315.579194,15.625,1,0,17,25,1,0,19,-3,-7,0,0
14,0.305601229,2,33.954825,1152.930172,9.76,1,0,14,7.19,1,0,12,2,.,0,-1
15,.,4,36.041068,1298.958565,.,1,0,18,.,1,0,14,4,.,-1,0
16,-0.336472237,0,27.175907,738.529917,1.785714286,1,0,16,2.5,1,0,16,0,0.417,0,0
17,.,1,24.544832,602.448793,5.25,1,1,13,.,1,1,12,0,.,1,0
18,0.628608659,2,39.340178,1547.649602,15,1,1,14,8,1,1,12,-2,15,1,1
19,0.321583624,1,38.532512,1484.754479,15,1,1,13,10.875,1,1,12,-1,0,0,0
20,.,0,24.657084,607.971801,8.7,1,0,12,.,1,0,12,0,-2,0,1
21,-0.378653851,1,23.682409,560.856511,11.41304348,1,0,17,16.66666667,1,0,16,1,-0.5,0,1
22,-0.078555719,3,35.663244,1271.866998,13.46,1,0,15,14.56,1,0,12,2,4,0,-1
24,.,1,28.900753,835.253519,8.583333333,1,1,15,.,1,1,14,-1,0,0,0
25,.,0,30.006845,900.410724,13,1,1,12,.,1,1,12,0,0,0,0
26,-0.494696242,0,33.639973,1131.647758,10,1,0,12,16.4,1,0,12,0,-6.5,-1,-1
27,0.497032302,2,24.640657,607.161982,12,1,0,16,7.3,1,0,14,-2,-1,0,-1
28,0.167054085,0,46.365503,2149.759876,7.15,1,0,12,6.05,1,0,12,0,1,0,0
29,-1.446918983,-5,43.854894,1923.251720,8,1,1,15,34,1,1,20,-6,-2,0,0
31,1.504077397,0,24.117728,581.664784,22.5,1,1,16,5,1,1,16,0,1.5,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,0.519875459,0,50.050650,2505.067589,11.5625,1,0,12,6.875,1,0,12,0,2.5,0,-1
153,0.049122045,0,25.941136,672.942548,16.42857143,1,0,12,15.64106667,1,0,12,0,0,0,0
154,0.619039208,-7,31.208761,973.986771,13,0,0,8,7,1,0,15,7,-7,0,-1
155,0.287682073,2,26.926762,725.050538,13.33333333,1,1,16,10,1,1,14,2,-2.5,-1,0
156,1.32175584,1,25.541410,652.363624,6.25,1,0,13,1.666666667,1,0,12,1,0,0,0
157,.,0,52.550308,2761.534872,.,1,0,12,5.952380953,1,0,12,0,0,0,0
159,.,1,33.251198,1105.642156,9.6,1,0,13,.,1,0,12,0,-2,0,0
160,-0.057158414,0,48.249144,2327.979937,4.25,1,0,12,4.5,1,0,12,0,-2.993,0,0
161,-0.732367894,-1,37.281314,1389.896386,5,1,0,12,10.4,1,0,13,-1,-7.5,-1,0
162,.,-1,70.600958,4984.495306,.,1,1,12,6.868095238,1,1,13,0,13,0,-1
163,-0.322773392,0,29.054073,844.139132,10.5,1,1,13,14.5,1,1,13,0,-3.5,0,0
164,-0.894651557,-4,30.225873,913.603380,5.45,1,0,12,13.33333333,1,0,16,-4,2.5,-1,1
165,.,1,52.985626,2807.476593,14.28571429,1,1,13,.,1,1,12,0,3,0,0
166,-0.615957542,-1,37.374401,1396.845857,9.722222222,1,1,12,18,1,1,13,0,-6,0,-1
167,0.287682073,-1,21.927447,480.812930,6.666666667,1,0,12,5,1,0,13,0,1.75,0,0
168,0.343771539,0,23.969884,574.555322,10.57692308,1,0,16,7.5,1,0,16,0,0.038,0,0
169,0.284451052,0,36.372348,1322.947678,10.3,1,1,18,7.75,1,1,18,0,2,0,0
170,.,0,22.299795,497.280842,.,1,0,12,20,1,0,12,0,0,0,0
171,0.022927505,0,36.944559,1364.900404,15,1,0,16,14.66,1,0,16,0,1.5,1,0
172,0.518260602,4,43.200548,1866.287310,11.25,1,0,14,6.7,1,0,10,3,14.67,1,0
173,0,0,18.781656,352.750617,4.25,1,0,13,4.25,1,0,13,0,-0.083,0,0
174,0.310154928,2,36.621492,1341.133686,13.63636364,1,0,14,10,1,0,12,2,1,0,0
175,0.372250629,2,45.612594,2080.508742,22.32285714,1,0,14,15.3845,1,0,12,2,-4,1,0
176,0.093011748,0,29.390828,863.820782,4.5,1,0,12,4.100322581,1,0,12,0,3.5,1,0
177,-0.087016892,-1,38.770705,1503.167566,21.1538,1,0,13,23.077,1,0,14,-1,2,1,0
178,0.109904862,0,45.555099,2075.267067,20.60625,1,0,12,18.46153846,1,0,12,0,-7,-1,0
179,.,0,26.376454,695.717351,.,1,1,16,19.65,1,1,16,0,-0.5,0,0
180,0.850332764,2,40.312115,1625.066615,5.5,1,0,14,2.35,1,0,12,2,2,0,0
181,-0.729514825,-2,28.413415,807.322179,7.5,1,0,14,15.55555556,1,0,16,-2,-2,0,0
182,-0.500775288,0,28.413415,807.322179,9,1,0,16,14.85,1,0,16,-2,3,0,0

In [42]:
df[(df["WHITEH"] == 1) & (df["DEDUC1"] != 0)].shape

(89, 16)

In [48]:
df[(df["DMARRIED"] == 1) & (df["WHITEL"] == 0) & (df["MALEL"] == 1)].mean

<bound method DataFrame.mean of Empty DataFrame
Columns: [DLHRWAGE, DEDUC1, AGE, AGESQ, HRWAGEH, WHITEH, MALEH, EDUCH, HRWAGEL, WHITEL, MALEL, EDUCL, DEDUC2, DTEN, DMARRIED, DUNCOV]
Index: []>

In [49]:
df[(df["WHITEH"] != df["WHITEL"])]

,DLHRWAGE,DEDUC1,AGE,AGESQ,HRWAGEH,WHITEH,MALEH,EDUCH,HRWAGEL,WHITEL,MALEL,EDUCL,DEDUC2,DTEN,DMARRIED,DUNCOV
88,0.014888613,0,29.185489,851.792791,10.15,0,1,12,10,1,1,12,0,4.583,-1,0
93,-0.223143551,1,30.450376,927.225426,10,1,0,15,12.5,0,0,14,0,-3,-1,0
154,0.619039208,-7,31.208761,973.986771,13,0,0,8,7,1,0,15,7,-7,0,-1

In [52]:
df[(df["WHITEH"] != df["WHITEL"])]

AttributeError: 'DataFrame' object has no attribute 'dim'

In [53]:
df["WHITEL"].value_counts()

1    172
0     11
Name: WHITEL, dtype: int64

In [54]:
pd.crosstab(df["WHITEL"], df["WHITEL"])

WHITEL   0    1
WHITEL
0       11    0
1        0  172

In [55]:
df["EDUCL"].value_counts()

12    61
16    37
14    30
13    21
15    11
18    10
10     4
20     3
19     3
17     1
11     1
8      1
Name: EDUCL, dtype: int64

In [56]:
pd.crosstab(df["MALEL"], df["MALEH"])

MALEH   0   1
MALEL
0      99   0
1       0  84

In [63]:
df[["EDUCH","EDUCL"]].corr()

          EDUCH     EDUCL
EDUCH  1.000000  0.657646
EDUCL  0.657646  1.000000

In [65]:
df["DMARRIED"] = df["DMARRIED"].astype(bool)

In [66]:
df["WHITEH"] = df["WHITEH"].astype("category")

In [68]:
df["HRWAGEH"] = pd.to_numeric(df["HRWAGEH"], errors="coerce")

In [70]:
df = df.sort_values(by='HRWAGEH') #Sort by column

In [71]:
df['new'] = 9 #Add a new column

In [76]:
grouped = df.groupby(['MALEH'])

In [77]:
print(grouped['AGE'].mean())

MALEH
0    38.124932
1    39.364721
Name: AGE, dtype: float64

In [83]:
print(grouped['AGE'].std())

MALEH
0    12.342762
1    13.853903
Name: AGE, dtype: float64

In [85]:
print(grouped['AGE'].mean())

MALEH
0    38.124932
1    39.364721
Name: AGE, dtype: float64