In [6]:
import pandas as pd

In [7]:
d = {'employee': ['Hannes', 'Fabiana', 'George','Olga'],'group':['Accounting','Engineering','Engineering','HR']}

In [8]:
df1 = pd.DataFrame.from_dict(d)

In [9]:
t = [('Hannes',2004),('Fabiana',2008),('George',2012),('Olga',2014)]

In [12]:
df2 = pd.DataFrame.from_records(t,columns=['employee','hire_date'])

In [13]:
df3 = df1.append(df2)

/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [14]:
print(df2)

  employee  hire_date
0   Hannes       2004
1  Fabiana       2008
2   George       2012
3     Olga       2014

In [15]:
print(df1)

  employee        group
0   Hannes   Accounting
1  Fabiana  Engineering
2   George  Engineering
3     Olga           HR

In [16]:
print(d)

{'employee': ['Hannes', 'Fabiana', 'George', 'Olga'], 'group': ['Accounting', 'Engineering', 'Engineering', 'HR']}

In [17]:
print(t)

[('Hannes', 2004), ('Fabiana', 2008), ('George', 2012), ('Olga', 2014)]

In [18]:
print(df3)

  employee        group  hire_date
0   Hannes   Accounting        NaN
1  Fabiana  Engineering        NaN
2   George  Engineering        NaN
3     Olga           HR        NaN
0   Hannes          NaN     2004.0
1  Fabiana          NaN     2008.0
2   George          NaN     2012.0
3     Olga          NaN     2014.0

In [19]:
df4 = pd.concat([df1,df2])

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [20]:
print(df4)

  employee        group  hire_date
0   Hannes   Accounting        NaN
1  Fabiana  Engineering        NaN
2   George  Engineering        NaN
3     Olga           HR        NaN
0   Hannes          NaN     2004.0
1  Fabiana          NaN     2008.0
2   George          NaN     2012.0
3     Olga          NaN     2014.0

In [22]:
df5 = pd.concat([df1, df2], axis=1)

In [23]:
print(df5)

  employee        group employee  hire_date
0   Hannes   Accounting   Hannes       2004
1  Fabiana  Engineering  Fabiana       2008
2   George  Engineering   George       2012
3     Olga           HR     Olga       2014

In [24]:
df6 = df1.merge(df2, left_on="employee", right_on="employee")

In [25]:
print(df6)

  employee        group  hire_date
0   Hannes   Accounting       2004
1  Fabiana  Engineering       2008
2   George  Engineering       2012
3     Olga           HR       2014

In [27]:
pivoted = df6.pivot(index='employee',columns='group', values='hire_date')

In [28]:
print(pivoted)

group     Accounting  Engineering      HR
employee
Fabiana          NaN       2008.0     NaN
George           NaN       2012.0     NaN
Hannes        2004.0          NaN     NaN
Olga             NaN          NaN  2014.0

In [29]:
reverse = pivoted.reset_index().melt(id_vars="employee",value_name="hire_date")

In [30]:
print(reverse)

   employee        group  hire_date
0   Fabiana   Accounting        NaN
1    George   Accounting        NaN
2    Hannes   Accounting     2004.0
3      Olga   Accounting        NaN
4   Fabiana  Engineering     2008.0
5    George  Engineering     2012.0
6    Hannes  Engineering        NaN
7      Olga  Engineering        NaN
8   Fabiana           HR        NaN
9    George           HR        NaN
10   Hannes           HR        NaN
11     Olga           HR     2014.0

In [31]:
print(df6)

  employee        group  hire_date
0   Hannes   Accounting       2004
1  Fabiana  Engineering       2008
2   George  Engineering       2012
3     Olga           HR       2014